/* import google font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    max-width: 1440px;
    max-height: 1080px;
    margin: 0 auto;
}

/* common css */
.container {
    width: 1080px;
    margin: 0 auto;
}

.text-gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    padding: 18px 40px;
    border: none;
    background-color: #F948B2;
    color: white;
    border-radius: 48px;
    text-transform: uppercase;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-secondary {
    padding: 18px 40px;
    border: none;
    background-color: #4EC5F7;
    color: white;
    border-radius: 48px;
    text-transform: uppercase;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-white {
    padding: 18px 40px;
    border: none;
    background-color: #FFFFFF;
    color: #F948B2;
    border-radius: 48px;
    text-transform: uppercase;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



/* Header css */
.navbar {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 0px;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}

.nav-logo,
.footer-logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-logo p {
    font-size: 45px;
    font-weight: bolder;
    line-height: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.follow-menu {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 15px;
}

.follow-menu p {
    background: transparent;
}

.follow-menu img {
    width: 32px;
    background: transparent;
}

/* Banner section css */
.banner-container {
    margin-top: 93px;
    background-image: url('/images/banner-img/banner-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-description {
    width: 50%;
    padding-bottom: 50px;
}

.banner-description h3 {
    color: #0B0223;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-description h1 {
    font-size: 68px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.banner-list-text {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 12px;
}

.banner-list-text img {
    width: 24px;
    height: 24px;
}

.banner-buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

/* gamer section css */
.gamer-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 75px 0;
}

.gamer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.gamer-image {
    width: 50%;
}

.gamer-image img {
    width: 100%;
}

.gamer-description {
    width: 50%;
    text-align: right;
}

.gamer-description h3 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gamer-description p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 15px 0px;
}

.our-purpose {
    margin-top: 25px;
}

/* online game section */
.online-game-container {
    text-align: center;
    padding: 100px 0;
    width: 100%;
}

.online-game-container h2 {
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.online-game-content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    text-align: left;
}

.online-game-content p {
    font-size: 16px;
}

.game-card {
    position: relative;
    margin-bottom: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.699);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.game-card img {
    width: 100%;
    border: 3px solid transparent;
}

.game-card:hover .overlay {
    opacity: 1;
    border: 3px solid #F948B2;
    border-radius: 16px;
    cursor: pointer;
}

.overlay-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-content img {
    width: 50%;
}

.watch-now {
    margin-top: 10px;
    color: #F948B2;
    font-size: 20px;
}

/* Play Game Section CSS */
.play-game-container {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.play-game-content,
.play-game-content2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-game-description {
    height: 100%;
    width: 50%;
    text-align: right;
    padding-right: 50px;

}

.play-game-description2 {
    height: 100%;
    width: 50%;
    text-align: left;
    padding-left: 50px;

}

.play-game-description h2 {
    margin-bottom: 15px;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

.play-game-description2 h2 {
    margin-bottom: 15px;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

.play-game-description p,
.play-game-description2 p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.play-game-image-section {
    height: 435px;
    width: 50%;
}

.play-game-image div {
    display: flex;
    justify-content: right;
    position: relative;
}

.play-game-image2 div {
    display: flex;
    justify-content: left;
    position: relative;
}

.play-game-child {
    position: absolute;
    bottom: 175px;
    left: -30px;
    width: 55%;
}

.play-game-child2 {
    position: absolute;
    bottom: 185px;
    left: 300px;
    width: 55%;
}

.play-game-image img {
    width: 75%;
}

.play-game-image2 img {
    width: 75%;
}


/* Games Section CSS */
.games-container {
    background: linear-gradient(90deg, #ff42a508 0%, #ff42a508 100%);
    padding: 20px 0px;
}

.games-content {
    margin: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.games-btn {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px 10px 10px;
    width: fit-content;
    border: 3px solid #ffffff00;
}

.games-btn img {
    width: 48px;
    height: 48px;
}

.games-btn:hover {
    border: 3px solid #F948B2;
    border-radius: 50px;
    transition: .15s ease-in-out;
}

.games-btn h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Footer section css */
.footer-container {
    background: #0B0223;
    padding: 100px 0px;
}

.footer-logo p {
    color: white;
    font-size: 38px;
    font-weight: bold;
    line-height: normal;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.footer-menu {
    margin-top: 25px;
    color: white;
}

.footer-menu ul {
    display: flex;
    gap: 50px;
}

.footer-menu ul li {
    list-style: none;
}

.footer-policy,
.copyright {
    margin-top: 30px;
    display: flex;
    gap: 25px;
    align-items: center;
    color: #ffffff99;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.copyright {
    margin-top: 0;
    gap: 10px;
}

.footer-social {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 30px;
}

/* =============== Responsive for Tablet Device =============== */
@media screen and (min-width:577px) and (max-width:992px) {

    body {
        width: 100%;
        margin: 0 auto;
        padding-top: 10px;
    }

    .container {
        width: 100%;
        padding: 10px 50px;
    }

    /* header => navbar */
    .navbar {
        padding-top: 50px;
        box-shadow: none;
        position: unset;
    }

    nav {
        flex-direction: column;
        gap: 36px;
    }

    nav ul {
        flex-direction: column;
        gap: 36px;
    }

    /* banner section for Tablet */
    .banner-container {
        margin-top: 93px;
        background-image: unset;
    }

    .banner-content {
        flex-direction: column-reverse;
    }

    .banner-description {
        width: 100%;
        margin-top: 50px;
        padding: 50px;
    }

    .banner-img {
        width: 100%;
    }

    /* gamer section for tablet */
    .gamer-content {
        flex-direction: column;
    }

    .gamer-image {
        width: 100%;
    }

    .gamer-description {
        width: 100%;
        text-align: center;
    }

    /* online game section for tablet */
    .online-game-container {
        padding: 75px 0;
    }

    .online-game-container h2 {
        font-size: 38px;
    }

    .online-game-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .overlay-content img {
        width: 65%;
    }

    /* Play Game Section CSS for Tablet */
    .play-game-content {
        flex-direction: column;
    }

    .play-game-content2 {
        flex-direction: column-reverse;
        margin-top: 120px;
    }

    .play-game-description,
    .play-game-description2 {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .play-game-image-section {
        width: 100%;
        margin-top: 50px;
    }

    .play-game-child {
        bottom: 220px;
        left: -60px;
    }

    /* Games Section CSS for Tablet */
    .games-container {
        padding: 20px 0px;
    }

    .games-content {
        gap: 15px;
        margin-top: 175px;
    }

    .games-btn {
        gap: 10px;
    }

    .games-btn img {
        width: 32px;
        height: 32px;
    }

    .games-btn h4 {
        font-size: 16px;
    }

    /* Footer for Tablet */
    .footer-menu ul {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 150px;
    }

    .footer-policy {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 50px;
    }

}


/* =============== Responsive for Mobile Device =============== */
@media only screen and (max-width:576px) {

    /* common css for mobile */
    .btn-primary {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
    }

    .btn-secondary {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
    }

    .btn-white {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;

    }

    body {
        width: 100%;
        margin: 0 auto;
        padding-top: 10px;
    }

    .container {
        width: 100%;
        padding: 10px 40px;
    }

    /* header => navbar */
    .navbar {
        padding-top: 50px;
        box-shadow: none;
        position: unset;
    }

    nav {
        flex-direction: column;
        gap: 36px;
    }

    nav ul {
        flex-direction: column;
        gap: 36px;
    }


    /* banner section for mobile */
    .banner-container {
        margin-top: 93px;
        background-image: unset;
    }

    .banner-content {
        flex-direction: column-reverse;
    }

    .banner-description {
        width: 100%;
        margin-top: 50px;
        padding: 50px 0;
    }

    .banner-img {
        width: 100%;
    }

    /* gamer section for mobile */
    .gamer-content {
        flex-direction: column;
    }

    .gamer-image {
        width: 100%;
    }

    .gamer-description {
        width: 100%;
        text-align: center;
    }

    /* online game section for Mobile */
    .online-game-container {
        padding: 50px 0px;
    }

    .online-game-container h2 {
        font-size: 24px;
    }

    .online-game-container p {
        font-size: 12px;
    }

    .online-game-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .online-game-content p {
        font-size: 16px;
    }

    .overlay {
        height: 100%;
    }

    .overlay-content img {
        width: 100%;
    }

    /* Play Game Section CSS for Mobile */
    .play-game-content {
        flex-direction: column;
    }

    .play-game-content2 {
        flex-direction: column-reverse;
        margin-top: -150px;
    }

    .play-game-description,
    .play-game-description2 {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .play-game-image-section {
        width: 100%;
        margin-top: 50px;
    }

    .play-game-description h2,
    .play-game-description2 h2 {
        margin-bottom: 15px;
        font-size: 28px;
        line-height: 36px;
    }

    .play-game-description p,
    .play-game-description2 p {
        font-size: 14px;
        line-height: 20px;
    }

    .play-game-child {
        bottom: 100px;
        left: -35px;
    }

    .play-game-child2 {
        bottom: 100px;
        left: 180px;
    }

    .play-game-image img {
        width: 80%;
    }

    /* Games Section CSS for Mobile */
    .games-container {
        padding: 10px 0px;
    }

    .games-content {
        gap: 5px;
    }

    .games-btn {
        gap: 10px;
    }

    .games-btn:hover {
        border: 2px solid #F948B2;
    }

    .games-btn img {
        width: 24px;
        height: 24px;
    }

    .games-btn h4 {
        font-size: 12px;
    }

    /* Footer for Tablet */
    .footer-menu ul {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 20px;
        gap: 15px;
    }

    .footer-social {
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        padding: 0px 50px;
    }

    .footer-social img {
        width: 40px;
    }

    .footer-policy {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 20px;
    }

    .copyright {
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

}